.li-post {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.699);
  font-weight: 400;
  overflow: hidden;
}

.img-post {
  box-shadow: rgba(6, 166, 240, 0.25) 0px 54px 55px,
    rgba(19, 118, 211, 0.12) 0px -12px 30px, rgba(202, 24, 24, 0.12) 0px 4px 6px,
    rgba(235, 10, 10, 0.17) 0px 12px 13px, rgba(219, 11, 11, 0.09) 0px -3px 5px;
  width: 85%;
  height: 10rem;
  margin: 1rem;
}

p:nth-child(2) {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

p:nth-child(3),
p:nth-child(4),
p:nth-child(5) {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

p:nth-child(5) {
  width: 14rem;
  height: 3rem;
  margin-top: 0.5rem;
}

.botones {
  margin: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: rgba(199, 29, 29, 0.123);
  box-shadow: rgba(6, 166, 240, 0.25) 0px 54px 55px,
    rgba(19, 118, 211, 0.12) 0px -12px 30px, rgba(202, 24, 24, 0.12) 0px 4px 6px,
    rgba(235, 10, 10, 0.17) 0px 12px 13px, rgba(219, 11, 11, 0.09) 0px -3px 5px;
}

#detalle {
  margin-top: -0.2rem;
}

.botones button img {
  width: 2rem;
  height: 2rem;
}
