select {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  background: rgba(240, 248, 255, 0.253);
  border: 1px solid #000000;
  border-radius: 8px;
  margin-top: 0.25rem;
  font-size: 10px;
}

#filtros {
  margin-bottom: 3rem;
}
